:root {
	--font-header: "Poppins", Arial, Helvetica, sans-serif;
	--font-body: "Inter", Arial, Helvetica, sans-serif;

	--background: #2d4059;
	--board: #ea5455;
	--player-x: #f07b3f;
	--player-o: #ffd460;

	--neutral-50: #fafafa;
	--neutral-100: #f5f5f5;
	--neutral-200: #e5e5e5;
	--neutral-300: #d4d4d4;
	--neutral-400: #a3a3a3;
	--neutral-500: #737373;
	--neutral-600: #525252;
	--neutral-700: #404040;
	--neutral-800: #262626;
	--neutral-900: #171717;
	--neutral-950: #0a0a0a;

	--success: #60b467;
	--warning: #b49260;
	--danger: #b46060;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	/* overflow-x: hidden; */
}

a {
	text-decoration: none;
}

a:visited {
	color: black;
}

button {
	background-color: var(--primary-900);
	color: var(--primary-300);
	border: none;
	border-radius: 1rem;
}

body {
	font-family: var(--font-body);
	line-height: 1.25rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--background);
}
header {
	display: flex;
	justify-content: center;
}
.title {
	font-family: "Lilita One", sans-serif;
	font-size: 6rem;
	margin: 3rem;
	display: flex;
	gap: 4rem;
}

.tic {
	transform: rotate(-10deg);
	color: var(--board);
}

.tac {
	transform: rotate(3deg);
	color: var(--player-o);
}

.toe {
	transform: rotate(-20deg);
	color: var(--player-x);
}

main {
	display: flex;
	justify-content: center;
}
/* .board-edge {
	height: 600px;
	width: 600px;
	border: 15px solid green;
	position: absolute;
} */

.board {
	display: grid;
	min-height: 600px;
	min-width: 600px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.board-tile {
	height: 200px;
	box-shadow: 0 0 0 15px var(--board) inset;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--font-header);
	font-size: 8rem;
	font-weight: 800;
}

.board-tile:hover {
	background-color: green;
	color: white;
}

.player-x {
	color: var(--player-x);
}

.player-o {
	color: var(--player-o);
}

footer {
	display: flex;
	padding: 1rem 0;
	background-color: var(--primary-600);
	justify-content: center;
}

footer p {
	color: var(--player-o);
}

footer p a,
i,
a:visited {
	color: var(--player-x);
}
